@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 18px;

    --font-main: 'Inter', sans-serif;

    --primary-color: #4072d0;
    --text-color: #344054;
    --error-color: #ff4d4f;

    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;

    --primary-border: #98a2b3;
    --second-border: #d9d9d9;
    --third-border: #d0d5dd;

    --rounded-4: 4px;
    --rounded-8: 8px;
    --rounded-6: 6px;
    --rounded-10: 10px;
    --rounded-12: 12px;
    --rounded-16: 16px;
    --rounded-20: 20px;
    --rounded-full: 100%;

    --space-2: 2px;
    --space-4: 4px;
    --space-6: 6px;
    --space-8: 8px;
    --space-10: 10px;
    --space-12: 12px;
    --space-14: 14px;
    --space-16: 16px;
    --space-20: 20px;
    --space-22: 22px;
    --space-24: 24px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: var(--font-main);
    background-color: #f2f4f7;
    color: var(--text-color);
    font-size: var(--font-size-sm);
    line-height: 1.5;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    font-size: var(--font-size-sm);
    font-weight: var(--fw-600);
    color: #fff;
    text-align: center;
    display: inline-block;
    border-radius: var(--rounded-8);
}

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: var(--rounded-8);
    border: 1px solid var(--third-border);
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

select,
option {
    cursor: pointer;
}

.form-select:focus {
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2) !important;
}

hr {
    border: 0;
    border-top: 1px solid var(--second-border);
    margin: var(--space-20) 0;
}

button {
    padding: var(--space-6) var(--space-14);
    font-size: var(--font-size-sm);
    font-weight: var(--fw-600);
    line-height: 20px;
    min-width: 70px;
}

.btn--main {
    background-color: var(--primary-color);
    color: white;
    transition: all 0.3s ease-in-out;
}

.btn--main:hover {
    background-color: #6b99d1;
}

.btn--close {
    background-color: white;
    border: 1px solid var(--primary-border);
    color: #475467;
}

.btn--danger {
    background-color: #ff7875;
    color: #fff;
}

.btn--warning {
    background-color: #faad14;
    color: #fff;
}

input,
.antd-select,
textarea {
    padding: var(--space-8) var(--space-14);
    height: 40px;
    border-radius: var(--rounded-8);
    background-color: white;
    color: #667085;
    font-size: var(--font-size-md);
    font-weight: var(--fw-400);
    line-height: 24px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.checkbox-antd input[type="checkbox"] {
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.checkbox-antd input[type="checkbox"]:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.checkbox-antd input[type="checkbox"]:checked::before {
    content: '✔';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
}

.textarea-antd {
    height: unset;
}

input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.ant-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--space-16);
    height: var(--space-16);
    border: 1px solid var(--third-border);
    border-radius: var(--rounded-4);
    background-color: white;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 0;
}

.ant-checkbox:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.ant-checkbox:focus,
.ant-checkbox:hover {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

label {
    font-weight: var(--fw-500);
    font-size: var(--font-size-sm);
    color: #344054;
    margin-bottom: var(--space-6);
    width: 100%;
}

.antd-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: var(--rounded-8);
    overflow: hidden;
    border: 1px solid var(--second-border);
}

.antd-table th {
    background-color: var(--primary-color);
    color: white;
    padding: var(--space-12) var(--space-16);
    text-align: left;
    font-weight: var(--fw-500);
    border: 1px solid var(--second-border);
}

.antd-table td {
    padding: var(--space-12) var(--space-16);
    border: 1px solid var(--second-border);
    font-weight: var(--fw-500);
}

a.link {
    text-decoration: underline;
    color: #4072D0;
    cursor: pointer;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
    background-color: #d4d4d4;
}

.input-error-message {
    display: block;
    margin-top: var(--space-6);
    color: var(--error-color);
}

.input-error {
    border: 1px solid var(--error-color);
    border-radius: var(--rounded-6);
    box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.input-error:focus {
    border-color: var(--error-color);
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.3);
}

.input-required {
    color: var(--error-color);
    margin-inline-end: 4px;
}

.checkbox-antd {
    display: flex;
    align-items: center;
}

.checkbox-antd input {
    margin-right: 6px;
}

.checkbox-antd input:focus {
    box-shadow: unset;
}

.checkbox-antd label {
    width: initial;
    font-size: var(--font-size-xs);
    margin-bottom: 0;
}