/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Reset all elements to ensure consistent appearance across browsers */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f2f4f7;
    color: #344054;
    font-size: 14px;
    line-height: 1.5;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
}

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 8px;
    border: 1px solid #d0d5dd;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #4072d0;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

hr {
    border: 0;
    border-top: 1px solid #d0d5dd;
    margin: 20px 0;
}

.btn--main {
    background-color: #4072d0;
    color: white;
    padding: 6px 14px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    min-width: 70px;
}

.btn--close {
    background-color: white;
    border: 1px solid #98a2b3;
    color: #475467;
    padding: 6px 14px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    min-width: 70px;
}

input {
    padding: 8px 14px;
    height: 40px;
    border-radius: 8px;
    background-color: white;
    color: #667085;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

input:focus {
    border-color: #4072d0;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.ant-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #d0d5dd;
    border-radius: 4px;
    background-color: white;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 0;
}

.ant-checkbox:checked {
    background-color: #4072d0;
    border-color: #4072d0;
}

.ant-checkbox:focus,
.ant-checkbox:hover {
    border-color: #4072d0;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

label {
    font-weight: 500;
    font-size: 14px;
    color: #344054;
    margin-bottom: 6px;
    width: 100%;
}